@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*INSPIRAÇAO

https://pt.wix.com/website-template/view/html/2852?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates&tpClick=view_button&esi=878757bd-4c63-4d40-a23d-51a3f8771acc

*/
:root {

    --color1: #304269;
    --color2: #91BED4;
    --color3: #D9E8F5;
    --color4: #FFFFFF;
    --color5: #F26101;
    --header-heigth: 80px;

}

*{

    font-family: "Oswald";

}